In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Beyneu,KZ,2022-10-12 01:31:51,45.3167,55.2000,54.32,27,8,4.27
1,1,Tuktoyaktuk,CA,2022-10-12 01:30:13,69.4541,-133.0374,30.20,93,100,14.97
2,2,Lapa,BR,2022-10-12 01:31:53,-25.7697,-49.7158,60.62,96,97,3.62
3,3,Mudon,MM,2022-10-12 01:31:53,16.2578,97.7164,79.65,84,14,4.45
4,4,Penco,CL,2022-10-12 01:31:53,-36.7333,-72.9833,50.85,87,20,6.91

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Create a Maximum Temperature Heatmap
# 1. Assign the locations to an array of latitude and longitude pairs.
# locations = [latitude, longitude]
# 2. Assign the weights variable to some values.
# temperatures = # an array of length equal to the locations array length
# 3. Assign the figure variable to the gmaps.figure() attribute.
# fig = gmaps.figure()
# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
# heatmap_layer = gmaps.heatmap_layer(locations, weights=temperatures)

# 5. Add the heatmap layer.
# fig.add_layer(heatmap_layer)
# 6. Call the figure to plot the data.
# fig

In [17]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable and "centers" the map around 30 lon, 31 lat
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
# heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], 
                                 dissipating=False, 
                                 max_intensity=300, 
                                 point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [18]:
# Create a Percent Humidity Heatmap

In [19]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [21]:
# Create a Percent Cloudiness Heatmap
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [22]:
# Create a Percent Cloudiness Heatmap
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [24]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [25]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
3,3,Mudon,MM,2022-10-12 01:31:53,16.2578,97.7164,79.65,84,14,4.45
11,11,Banda Aceh,ID,2022-10-12 01:31:56,5.5577,95.3222,80.62,70,100,4.74
14,14,Alofi,NU,2022-10-12 01:28:46,-19.0595,-169.9187,77.05,84,7,18.39
21,21,Cayenne,GF,2022-10-12 01:30:06,4.9333,-52.3333,77.04,94,40,0.00
23,23,Kapaa,US,2022-10-12 01:32:01,22.0752,-159.3190,84.18,84,20,3.44
30,30,Hithadhoo,MV,2022-10-12 01:30:39,-0.6000,73.0833,82.13,77,100,18.61
35,35,Mecca,SA,2022-10-12 01:32:06,21.4267,39.8261,78.35,57,0,2.82
37,37,Marawi,PH,2022-10-12 01:32:08,7.9986,124.2928,80.55,65,100,3.31
38,38,Sinnamary,GF,2022-10-12 01:27:52,5.3833,-52.9500,78.58,87,86,7.96
43,43,Sal Rei,CV,2022-10-12 01:33:10,16.1833,-22.9167,78.78,83,100,12.44

In [30]:
preferred_cities_df.count()

City_ID       147
City          147
Country       147
Date          147
Lat           147
Lng           147
Max Temp      147
Humidity      147
Cloudiness    147
Wind Speed    147
dtype: int64

# Module 6.5.4 >> Map Vacation Criteria

In [32]:
# >> Get Travel Destinations

In [43]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

          City Country  Max Temp      Lat       Lng Hotel Name
3        Mudon      MM     79.65  16.2578   97.7164
11  Banda Aceh      ID     80.62   5.5577   95.3222
14       Alofi      NU     77.05 -19.0595 -169.9187
21     Cayenne      GF     77.04   4.9333  -52.3333
23       Kapaa      US     84.18  22.0752 -159.3190
30   Hithadhoo      MV     82.13  -0.6000   73.0833
35       Mecca      SA     78.35  21.4267   39.8261
37      Marawi      PH     80.55   7.9986  124.2928
38   Sinnamary      GF     78.58   5.3833  -52.9500
43     Sal Rei      CV     78.78  16.1833  -22.9167

In [44]:
# Retrieve Hotels from a Nearby Search

In [45]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [53]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
# Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")
     #   print(f'Hotel not found for {city}... skipping.')

NameError: name 'city' is not defined

In [49]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [54]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [55]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [58]:
hotel_df.head(20)

,City,Country,Max Temp,Lat,Lng,Hotel Name
3,Mudon,MM,79.65,16.2578,97.7164,Motel Mudon
11,Banda Aceh,ID,80.62,5.5577,95.3222,OYO 884 Rumoh PMI Hotel
14,Alofi,NU,77.05,-19.0595,-169.9187,Taloa Heights
21,Cayenne,GF,77.04,4.9333,-52.3333,Hôtel Le Dronmi
23,Kapaa,US,84.18,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
30,Hithadhoo,MV,82.13,-0.6000,73.0833,Scoop Guest House
35,Mecca,SA,78.35,21.4267,39.8261,"Makkah Clock Royal Tower, A Fairmont Hotel"
37,Marawi,PH,80.55,7.9986,124.2928,Derogongan Residence
38,Sinnamary,GF,78.58,5.3833,-52.9500,ALETHEIA Appartement Sinnamary
43,Sal Rei,CV,78.78,16.1833,-22.9167,Marine Club Beach Resort
44,Dwarka,IN,82.20,22.2394,68.9678,Hotel Narayan Avezika Comfort
45,Celestun,MX,82.06,20.8667,-90.4000,Posada Lilia
47,Sao Filipe,CV,79.30,14.8961,-24.4956,Hotel Xaguate
50,Georgetown,MY,81.23,5.4112,100.3354,Cititel Penang
56,Victoria,HK,75.38,22.2855,114.1577,Mini Central
59,Karratha,AU,82.90,-20.7377,116.8463,ibis Styles Karratha
63,Bandar-E Lengeh,IR,82.87,26.5579,54.8807,کافی نت پارس
65,Dingle,PH,85.15,10.9995,122.6711,SEGAYA PROPERTY
66,Lorengau,PG,85.73,-2.0226,147.2712,Lorengau Harbourside Hotel
69,Bubaque,GW,81.10,11.2833,-15.8333,"Casa Dora, Bubaque"